[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FlowRegEnvCost"]
	path = FlowRegEnvCost
	url = https://github.com/garciadejalon/flowregenvcost
[submodule "TreeDep"]
	path = TreeDep
	url = https://github.com/cran/TreeDep
